section.call-to-action{
    background:#F1F0EB;
    border-top:1px solid #F0E3CA;
    border-bottom:1px solid #F0E3CA;
}

section.call-to-action .wrap .content{
    position:relative;
    z-index:3;
    display:flex;
    flex-flow: column;
    text-align: center;
}

section.call-to-action .wrap .content > p{
    max-width:760px;
    align-self: center;
    margin:20px 0px 40px 0px;
}
section.call-to-action .wrap .content a.cta{
  align-self: center;
}
section.call-to-action .wrap >img{
    position:absolute;
    bottom:0px;
}