.wysiwyg p, .wysiwyg b{
    line-height:24px;
    margin:10px 0px;
}

.wysiwyg h1{
    font-size:22px;
}

.wysiwyg h2{
    font-size:22px;
}

.wysiwyg h3{
    font-size:18px;
}

.wysiwyg h4{
    font-size:15px;
}

.wysiwyg h1,
.wysiwyg h2,
.wysiwyg h3,
.wysiwyg h4,
.wysiwyg h5,
.wysiwyg h6{
    margin:20px 0px 5px 0px;;
}

.wysiwyg ul{
    margin:20px 0px;
    list-style: none;
    
}
.wysiwyg ul li{
    padding-left:20px;
    position: relative;
    margin:10px 0px 0px 10px;
}

.wysiwyg ul li:before{
    width: 6px;
    height: 6px;
    content:'';
    position:absolute;
    left: 3px;
    top: 7px;
    background:#ecb55d;
    border-radius: 500px;
}


.wysiwyg h2 span{
    font-size:22px !important;
}
.wysiwyg h3 span{
    font-size:18px !important;
}
.wysiwyg span{
    background:rgba(255, 255, 255, 0) !important;
    font-family: 'Nunito' !important;
    
}
.wysiwyg p span,
.wysiwyg li span{
    font-size:15px !important;
    
}