/* ======================
   Define wraps & sections  
   ====================== */

.big-wrap{
    width: 1240px;
    margin:0px auto;
}

.wrap{
    width: 990px;
    margin:0px auto;
}

section{
    padding:60px 0px;
    position: relative;
}


